body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f1f1f1;

    display: flex;
    justify-content: center;   
    align-items: center;       
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.profile-card {
    background: #fff;
    padding: 25px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);

    display: flex;
    flex-direction: column;    
 align-items: center;        
    text-align: center;
}


.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 15px;
}


.student-name {
    margin: 10px 0 5px;
    font-size: 22px;
}

.student-course {
    color: #666;
    margin-bottom: 20px;
}


.info-box {
    width: 100%;
    background: #f7f7f7;
    padding: 15px;
    border-radius: 8px;
}

.info-box p {
    margin: 5px 0;
    font-size: 14px;
}